section#about {
  background: var(--primary-color);
}

#about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;

  #photo {
    margin: 0 auto;
    img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      box-shadow: var(--box-shadow);
    }
  }

  #info {
    text-align: left;

    p {
      margin-bottom: 1rem;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}


// Ipad Pro
@media (max-width: 1024px) {
  
  .container {
    width: 90%; 
  }
}

@media (max-width: 768px) {

  #about-content {
    display: flex;
    flex-direction: column;
    
    #info {
      margin-top: 5rem;
    }
  }

  #about .container {
    width: 77%;
  }
}

@media (max-width: 450px){

  #about .section-heading {
    margin-bottom: 4rem;
  }

  #about-content #photo img {
    height: 250px;
    width: 250px;
    box-shadow:
    0 0.5px 2.2px rgba(0, 0, 0, 0.02),
    0 1.3px 5.3px rgba(0, 0, 0, 0.028),
    0 2.4px 10px rgba(0, 0, 0, 0.035);
  }

}

@media (max-width: 330px){

  #about-content #photo img {
    height: 200px;
    width: 200px;
  }

}
