section#about {
  // border-top: 1px solid black;
  background: var(--primary-color);
}

#about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;

  #photo {
    margin: 0 auto;
    img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      box-shadow: var(--box-shadow);
    }
  }

  #info {
    text-align: left;

    p {
      margin-bottom: 1rem;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}


// Ipad Pro
@media (max-width: 1024px) {
  
  .container {
    width: 90%; 
  }
}

@media (max-width: 768px) {

  #about-content {
    display: flex;
    flex-direction: column;
    
    #info {
      margin-top: 5rem;
    }
  }

  #about .container {
    width: 77%;
  }
}