// Project Flip Card
:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5  ;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.card {
  width: 400px;
  perspective: 800px;
}

.card-content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card-content,
.card:active .card-content
 {
  transform: rotateY(.5turn);
  -webkit-transform: rotateY(.5turn);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card-front#the_herbalist {
  background-color:  rgba(0, 0, 0, .1);
  background-image: url('../imgs/the_herbalist.jpg');
  background-size: cover;
  // background-position: center;
}

.card-front#journey_to_dev {
  background-color:  rgba(0, 0, 0, .4);
  background-image: url('../imgs/journey_to_dev.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: lighten(#b7c9e5, 10%);
}

.card-front#codetunes {
  background-color:  rgba(0, 0, 0, .1);
  background-image: url('../imgs/codetunes3.png');
  background-size: cover;
  // background-position: center;
  background-blend-mode: overlay;
  color: lighten(#b7c9e5, 10%);
}

.card-front#herb_finder {
  background-color:  rgba(0, 0, 0, 0.5);
  background-image: url('../imgs/herb_finder.png');
  background-size: cover;
  // background-position: center;
  background-blend-mode: overlay;
  color: lighten(#b7c9e5, 15%);
}

.card-front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card-title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card-subtitle {
  transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
  font-size: .75rem;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

#herbfinder-card .card-subtitle {
  opacity: 1;
}

.card-body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
  text-transform: uppercase;
}

#herb-finder-back {
  p {
    font-size: 1rem;
    text-transform: none;
  }
}

.card-back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: #333;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  ul {
    list-style: none;
    font-size: 1.5rem;
  }
}

.card {
  a {
    text-decoration: none;
    color:white;
    display: block;
    width: 50%;
    margin: 1.3rem auto;
    padding: 1rem 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;

    &.app-btn {
      background: var(--primary-color);
      color: black;
      transition: background 0.4s ease-in-out;

      &:hover {
        background: lighten(#f3dafd, 10%)
      }
    }

    &.code-btn {
      background: var(--secondary-color);
      transition: background 0.4s ease-in-out;

      &:hover {
        background: darken(#c95dc9, 10%)
      }
    }

    &.herb-finder-expo-btn {
      display: inline-block;
      width: 30%;
      margin: 1rem;
      padding: 0.5rem;
      font-size: 0.7rem;
    }

    &.herb-finder-code-btn {
      width: 37%;
      height: 46px;
      margin-top: 2rem;
      padding: 0.8rem;
      font-size: 0.8rem;
      text-align: center;
    }

    &.herb-finder-mobile-expo-btn {
      display: inline-block;
      margin: 0.5rem;
      padding: 0.6rem;
      font-size: 0.7rem;
    }
  }
}

#herb-finder-qr-codelink.card-body {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.mobile-links {
  display: none;
}


// Media queries
@media (max-width: 450px){
  .card {
    width: 350px;
  }

  // Disable card rotate on mobiles
  .card:hover .card-content,
  .card:active .card-content
  {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }

  // Show mobile links underneath flip cards on mobile
  .mobile-links {
    display: inline;
  }

  // Hide card back on mobile
  .card-back {
    display: none;
  }

  .card {
    a {
      display: inline-block;
      width: 40%;
      margin: 0;
    }
  }
}

@media (max-width: 385px){
  .card {
    width: 90vw;
  }
}

@media (max-width: 320px) {
  .card-back a {
    font-size: 0.8rem;
  }
}