header#navbar {
  background-color: white;
  color: black;
  padding-top: 1rem;
}

#header-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px black solid;
}

// Branding
#brand {
  display: flex;
}

#logo {
  height: 60px;
  width: 60px;
}


.cls-1 {
  fill: var(--tertiary-color);
}
      
.cls-2 {
  fill: none;
  stroke: var(--tertiary-color);
  stroke-miterlimit: 10;
  stroke-width: 6px;
}
      
.cls-3 {
  fill: #fff;
}

#navbar h3 {
  padding: 1rem;
  font-size: 1.6rem;

  a {
    text-decoration: none;
    color: black;
  }

}

#nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 3rem;
}

.nav-link {
  list-style: none;
  padding: 0.75rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  margin-right: 1rem;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: '';
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 20px;
    z-index: -1;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
  }

  &:hover::before, &:focus::before {
    transform: scaleX(1);
  }

  &:hover a, &:focus a {
      color: white;
    }

  a {
    text-decoration: none;
    color: black;
    transition: color 200ms ease-in-out;
 
  }
}

// Media queries
@media (max-width: 1130px) {
  #brand {
    margin-left: 2rem;
  }
}


@media (max-width: 1024px) {
  #header-content.container {
    width: 100%;
  }

  // #navbar h3 {
  //   margin-left: 2rem;
  // }
}

@media (max-width: 800px) {
  .nav-link {
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    margin-right: 0.4rem;
  }
}

@media (max-width: 700px) {
  #nav-menu {
    margin-right: 1rem;
  }

  // #navbar h3 {
  //   margin-left: 1rem;
  // }
  
}

@media (max-width: 655px) {
  
  .nav-link {
    margin-right: 0;
    padding: 0.75rem 0.8rem;
  }

  #logo {
    height: 50px;
  }

  #navbar h3 {
    font-size: 1.2rem;
  }
  
}

@media (max-width: 562px){

  header#navbar {
    padding: 0;
  }

  #logo {
    margin: 0.5rem 0;
  }

  #brand {
    margin-left: 0.7rem;
  }

  #navbar h3 {
    padding: 1.4rem 0 0.5rem 0.4rem;
  }

  #header-content {
    padding: 0.4rem 0;
  }
  
  #nav-menu li {
    display: none;
  }
  
  #nav-menu li:nth-child(4) {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--secondary-color);

    &:hover {
      background-color: var(--primary-color);
    }
    
    a {
      color: white;
    }
  }
}

@media (max-width: 360px) {
  #navbar h3 {
    font-size: 0.9rem;
    padding: 1.3rem 0 0.5rem 0rem;
  }

  #logo {
    height: 40px;
  }

  #brand {
    margin-left: 0.1rem;
  }
}

