header#navbar {
  background-color: white;
  color: black;
  padding-top: 1rem;
  // position: fixed;
  // top: 0;
  // // right: 18px;
  // right: 0px;
  // left: 0;
  // z-index: 3;
}

#header-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;

}

#navbar h3 {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;

  a {
    text-decoration: none;
    color: black;
  }
  // text-transform: uppercase;
  // color: var(--primary-color);
}

#nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 3rem;
}

.nav-link {
  list-style: none;
  padding: 0.75rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  margin-right: 1rem;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: '';
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 20px;
    z-index: -1;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
  }

  &:hover::before, &:focus::before {
    transform: scaleX(1);
  }

  &:hover a, &:focus a {
      color: white;
    }

  a {
    text-decoration: none;
    color: black;
    transition: color 200ms ease-in-out;
 
  }
}

@media (max-width: 1024px) {
  #header-content.container {
    width: 100%;
  }

  #navbar h3 {
    margin-left: 2rem;
  }
}

@media (max-width: 414px) {
  
  #wrapper1 {
    position: relative;
    left: 50px;
  }

}