section#portfolio {
  padding-bottom: 5rem;

  .section-heading {
    border-color: var(--secondary-color);
  }
  
  #projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    h4 {
      margin: 1.8rem 0;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }

    ul.tech-logos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
      justify-content: space-between;
      width: 80%;
      margin: 2rem 0 0 6rem;
    }

    ul.herb-finder-logos {
      display: block;
      width: 42%;
      margin: auto;
    }

    // Tech logos
    img {
      max-height: 50px;
      margin-right: 0.6rem;
    }

    img#QR-code {
      max-height: 120px;
    }

    img[src="imgs/node.png"]{
      margin-left: 0.3rem; 
      margin-right: 0.9rem; 
    }

    img[src="imgs/express.png"]{
      margin-left: 0.1rem;
      margin-right: 0.8rem; 
    }

    img[src="imgs/mongodb.png"]{
      margin-left: 0.2rem;
      margin-right: 0.8rem; 
    }

    img[src="imgs/passport.png"]{
      margin-left: 0.2rem;
      margin-right: 0.8rem; 
    }

    img[src="imgs/laravel.png"]{
      margin-left: 0.4rem;
      margin-right: 0.8rem; 
    }

    img[src="imgs/bootstrap.png"]{
      margin-left: 0.3rem;
      margin-right: 0.8rem; 
    }

    img[src="imgs/next.png"]{
      margin-right: 1rem; 
    }

    img[src="imgs/graphql.png"]{
      margin-left: 0.3rem;
      margin-right: 0.8rem; 
    }
  }
}

#journey-card {
  margin-left: 1rem;
}

#journey-card, #journey-description {
  margin-top: 2rem;
}

.herbfinder-mobilelinks-text {
  line-height: 1.6rem;
  margin-top: 3rem;
}

#mobile-expo-links {
  margin-bottom: 3rem;
}


@media (max-width: 1000px) {

  section#portfolio #projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    grid-gap: 0;

    & > div {
      margin: auto;
      margin-bottom: 5rem;
    }

    .project-info {
      width: 80%;
    }

    #journey-description {
      grid-row: 3 / 4;
      margin-top: 5rem;
    }

    #herbfinder-description {
      grid-row: 7 / 8;
      margin-top: 5rem;
    }

  }
}


// Media queries
@media (max-width: 650px){

  section#portfolio #projects ul.tech-logos {
    margin-left: 4rem;
  }
}

@media (max-width: 500px){

  section#portfolio #projects ul.tech-logos {
    margin-left: 2rem;
  }
}

@media (max-width: 480px){

  section#portfolio #projects {
    
    ul.tech-logos {
    grid-template-rows: repeat(6, 1fr);
    margin-top: 3rem;
    }

    li {
      margin-bottom: 0;
    }

    #journey-description, #codetunes-description {
      margin-top: 2rem;
      border-top: 5px solid var(--secondary-color);
      padding-top: 4rem;
    }
    
  }

  li#redux {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  li#node {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  li#express {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
  li#mongodb {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  li#passport {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
  }
  li#laravel {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  li#postgres {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  li#bootstrap {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
  li#sass {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  li#gsap {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
  }
  li#react2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  li#graphql {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  li#node2 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
  li#express2 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  li#mongodb2 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
  }
    
}

@media (max-width: 415px){

  section#portfolio #projects ul.tech-logos {
    margin: 0;
  }

}

@media (max-width: 352px){

  section#portfolio #projects {
  
    ul.tech-logos {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;
    }

    li {
      margin-bottom: 1rem;

      &#vue {
        margin-top: 1rem;
      }
    }
  }
}

