section#main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  // margin-top: 79px;
  height: 91vh;

  &.container {
    text-align: left;
  }
}

#main-info {
  // width: 40vw;
  margin-top: 12rem;

  #title {
    
    h1 {
      color: black;
      font-size: 4rem;
      font-weight: 200;
    }
  }

  #links {
    margin: 1.8rem 0;

    a {
      text-decoration: none;
      color: black;
    }

    i {
      margin-right: 2rem;
      cursor: pointer;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

.separator {
  width: 80px;
  height: 8px;
  margin-top: 3rem;
  display: block;
  background-color: var(--secondary-color);
}

#wrapper1 {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  canvas {
    z-index: -1;
    position: relative;
    left: 10px;
  }
}


h1#name {
  margin-top: 4rem;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #eee;
}



@media (max-width: 1175px) {
  #main-info {
    margin-left: 3rem;
  }
}

// Ipad pro
@media (max-width: 1024px){

  section#main {
    height: 80vh;
  }
  
  #main.container {
    width: 100%;
  } 
}

@media (max-width: 980px){
  
  #main-info #title h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 875px){
  
  #main-info #title h1 {
    font-size: 3rem;
  }

  #wrapper1 canvas {
    left: 62px;
  }
}

@media (max-width: 760px){
  
  #main-info #title h1 {
    font-size: 2.5rem;
  }
}

// Large mobile width eg Iphone 6/7/8 plus, Pixel2 XL
@media (max-width: 675px){
  #main-info {
    margin-left: 2rem;
    margin-top: 6rem;

    #links i {
    margin-right: 1rem;
    }
  }
  
  #main-info #title h1 {
    font-size: 2rem;
  }

  .separator {
    width: 50px;
    height: 6px;
  }

  #wrapper1 canvas {
    left: 70px;
  }
}

@media (max-width: 560px){
  #main-info {
  
    // #title h1 {
    //   font-size: 2rem;
    // }

    #links {
      font-size: 0.6rem;
      margin: 1.3rem 0;
    }
  }

  .separator {
    margin-top: 2rem;
  }

  // #wrapper1 canvas {
  //   position: relative;
  //   left: 100px;
  // }
}

@media (max-width: 430px) {

  #main-info {
    width: 100%;
  }

  section#main {
    grid-template-columns: 2fr 1fr;
  }

  #wrapper1 canvas {
    // left: 20px;
    left: 0;
  }
  
}

@media (max-width: 400px) {

  #wrapper1 canvas {
    left: -27px;
    // left: -9px;
  }
}

@media (max-width: 340px) {

  #main-info {

  
    #title h1 {
      font-size: 1.8rem;
    }
}
}


// Media queries heights for spinner
@media (max-height: 823px){

  // #wrapper1 canvas {
  //   // bottom: 40px;
  // }
}

@media (max-height: 736px){

  // #wrapper1 canvas {
  //   // bottom: 69px;
  //   // bottom: 37px;
  // }
}

@media (max-height: 667px){

  #wrapper1 canvas {
    // bottom: 62px;
    bottom: 0px;
  }
}

@media (max-height: 600px){

  #wrapper1 canvas {
    // bottom: 91px;
    // bottom: 25px;
    bottom: 0px;
  }

  // #main-info {
  //   // margin-top: 8rem;
  // }
}

@media (max-height: 475px){

  #main-info {
    margin-top: 5rem;
  }

  #wrapper1 canvas {
    left: 100px;
  }
}

@media (max-height: 400px){

  #main-info {
    margin-top: 4rem;
  }

  #main-info #title h1 {
    font-size: 2rem;
  } 

  #main-info #links {
    font-size: 0.7rem;
    margin: 1.3rem 0;
  }

  .separator {
    margin-top: 2rem;
  }
}

