section#skills {
  // border-top: 1px solid black;
  background: var(--primary-color);
  height: 900px;

  .container {
    height: 100%;
  }

  h2.section-heading {
    margin-bottom: 4rem;
  }

}

#skills-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 600px;
  padding: 6rem 4rem 5rem 2rem;
  position: relative;
  background: #f4ebeb;
  border-radius: 10px;
  box-shadow: var(--box-shadow);



  & > h3 {
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 50%;
    // Centre text relative to its own bounding box
    transform: translate(-50%, -50%);
  }

  #col-1 {
    margin: 3rem 2rem 2rem 8rem;
  }

  #col-2 {
    margin: 3rem 2rem 2rem 2rem;
  }

  #col-1, #col-2 {
    position: relative;
    width: 30vw;

    & > h3 {
      margin: 2.5rem;
      font-size: 1.5rem;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 2.2rem;
      margin-left: 2rem;
      // margin: 2rem;
      font-size: 1.3rem;

      .small-text {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }

    img {
      max-height: 70px;
      margin-right: 0.6rem;
    }

    & > div {
      position: absolute;
      width: 100%;
    }
  }
}


@media (max-width: 1024px){

  #skills-content {
    padding: 6rem 7rem 5rem 0;
  } 
}

@media (max-width: 768px) {

  #skills-content {
  
    #col-1 {
      margin: 3rem 0rem 2rem 2rem;
    }

    #col-2 {
      margin: 3rem 0rem 2rem 2rem;
    }
  }
}