@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import 'navbar';
@import 'showcase';
@import 'about';
@import 'flip-card';
@import 'portfolio';
@import 'skills';
@import 'contact';
@import 'footer';

:root {
  --primary-color: #f3dafd;
  --secondary-color: #c95dc9;
  --box-shadow:
    0 0.5px 2.2px rgba(0, 0, 0, 0.02),
    0 1.3px 5.3px rgba(0, 0, 0, 0.028),
    0 2.4px 10px rgba(0, 0, 0, 0.035),
    0 4.2px 17.9px rgba(0, 0, 0, 0.042),
    0 7.9px 33.4px rgba(0, 0, 0, 0.05),
    0 19px 80px rgba(0, 0, 0, 0.07);
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  // overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  text-align: center;
} 

.section-heading {
  display: inline-block;
  font-size: 2.5rem;
  text-align: center;
  margin: 4rem auto 6rem auto;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  border-bottom: 5px solid;
  padding-bottom: 0.3rem;
}

p.description {
  line-height: 2rem;
}


