@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import 'navbar';
@import 'showcase';
@import 'about';
@import 'flip-card';
@import 'portfolio';
@import 'skills';
@import 'contact';
@import 'footer';

:root {
  --primary-color: #f3dafd;
  --flip-card-color: rgb(5, 5, 143);
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  // padding: 0 2rem;
} 

.section-heading {
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0 6rem 0;
}

p.description {
  line-height: 2rem;
}
