@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
header#navbar {
  color: black;
  border-bottom: 1px black solid;
  padding-top: 1rem;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar h3 {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
}

#nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.nav-link {
  list-style: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

section#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 91vh;
}

#main-info {
  margin-top: 12rem;
}

#main-info #title h1 {
  color: black;
  font-size: 4rem;
  font-weight: 200;
}

#main-info #links {
  margin-top: 1.8rem;
}

#main-info #links i {
  margin-right: 2rem;
}

#wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
}

#wrapper1 canvas {
  z-index: -1;
}

h1#name {
  margin-top: 4rem;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #eee;
}

@media (max-width: 1175px) {
  #main-info {
    margin-left: 3rem;
  }
}

@media (max-width: 980px) {
  #main-info #title h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 875px) {
  #main-info #title h1 {
    font-size: 3rem;
  }
}

@media (max-width: 760px) {
  #main-info #title h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 675px) {
  #main-info {
    margin-left: 2rem;
    margin-top: 6rem;
  }
  #main-info #links i {
    margin-right: 1rem;
  }
  #main-info #title h1 {
    font-size: 2rem;
  }
  #wrapper1 canvas {
    position: relative;
    left: 100px;
  }
}

@media (max-width: 560px) {
  #main-info #title h1 {
    font-size: 1.5rem;
  }
  #wrapper1 canvas {
    position: relative;
    left: 100px;
  }
}

@media (max-width: 390px) {
  #wrapper1 canvas {
    left: 0px;
  }
}

section#about {
  background: var(--primary-color);
}

#about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

#about-content #photo {
  margin: 0 auto;
}

#about-content #photo img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#about-content #info p {
  margin-bottom: 1rem;
  font-weight: 500;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr: #b7c9e5  ;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.card {
  width: 400px;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.card-content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover .card-content {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-front#the_herbalist {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../../../imgs/the_herbalist.png");
  background-size: cover;
  background-position: center;
}

.card-front#journey_to_dev {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../../../imgs/journey_to_dev.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: #dce5f3;
}

.card-front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  -webkit-transform: var(--level-one);
          transform: var(--level-one);
}

.card-title {
  font-size: 3.5rem;
  -webkit-transform: var(--level-three);
          transform: var(--level-three);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-transform: uppercase;
}

.card-subtitle {
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card-body {
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
  text-transform: uppercase;
}

.card-back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  color: var(--clr);
  background: #333;
}

.card-back h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-back ul {
  list-style: none;
  font-size: 1.5rem;
}

.card-back a {
  text-decoration: none;
  color: white;
  display: block;
  width: 50%;
  margin: 1.3rem auto;
  padding: 1rem 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-back a.app-btn {
  background: green;
}

.card-back a.code-btn {
  background: purple;
}

section#portfolio {
  padding-bottom: 5rem;
}

section#portfolio #projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

section#portfolio #projects h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section#portfolio #projects h4 {
  margin: 1.8rem 0;
}

section#portfolio #projects li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

section#portfolio #projects ul.tech-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}

section#portfolio #projects img {
  max-height: 50px;
  margin-right: 0.6rem;
}

section#portfolio #projects img[src="imgs/node.png"] {
  margin-left: 0.3rem;
  margin-right: 0.9rem;
}

section#portfolio #projects img[src="imgs/express.png"] {
  margin-left: 0.1rem;
  margin-right: 0.8rem;
}

section#portfolio #projects img[src="imgs/mongodb.png"] {
  margin-left: 0.2rem;
  margin-right: 0.8rem;
}

section#portfolio #projects img[src="imgs/passport.png"] {
  margin-left: 0.2rem;
  margin-right: 0.8rem;
}

section#portfolio #projects img[src="imgs/laravel.png"] {
  margin-left: 0.4rem;
  margin-right: 0.8rem;
}

section#portfolio #projects img[src="imgs/bootstrap.png"] {
  margin-left: 0.3rem;
  margin-right: 0.8rem;
}

#journey-card {
  margin-left: 1rem;
}

#journey-card, #journey-description {
  margin-top: 2rem;
}

section#skills {
  background: var(--primary-color);
  height: 800px;
}

section#skills h2.section-heading {
  margin-bottom: 4rem;
}

#skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid black;
  padding: 5rem;
  height: 500px;
  -webkit-box-shadow: 6px 10px 22px -12px black;
          box-shadow: 6px 10px 22px -12px black;
  position: relative;
}

#skills-content > h3 {
  font-size: 1.8rem;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills-content #col-1 {
  margin: 2rem 2rem 2rem 8rem;
}

#skills-content #col-2 {
  margin: 2rem;
}

#skills-content #col-1, #skills-content #col-2 {
  position: relative;
  width: 30vw;
}

#skills-content #col-1 > h3, #skills-content #col-2 > h3 {
  margin: 2rem;
  font-size: 1.5rem;
}

#skills-content #col-1 li, #skills-content #col-2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2rem;
  margin-left: 2rem;
  font-size: 1.3rem;
}

#skills-content #col-1 li .small-text, #skills-content #col-2 li .small-text {
  font-size: 1rem;
  margin-left: 1rem;
}

#skills-content #col-1 img, #skills-content #col-2 img {
  max-height: 70px;
  margin-right: 0.6rem;
}

#skills-content #col-1 > div, #skills-content #col-2 > div {
  position: absolute;
  width: 100%;
}

#wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100%;
}

#wrapper2 canvas {
  z-index: -1;
  position: relative;
  right: 650px;
}

:root {
  --primary-color: #f3dafd;
  --flip-card-color: rgb(5, 5, 143);
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.section-heading {
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0 6rem 0;
}

p.description {
  line-height: 2rem;
}
